<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Team </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<form action='/team/add' method = "POST">
  <p> Team Id <input type = "integer" name = "team_id" /></p>
  <p>Team Name <input type = "text" name = "team_name" /></p>
  <p>Team Short Code <input type = "integer" name = "team_short_code" /></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>
</body>
</html>