<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD OPERATIONS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<br>
<br>
<div align="center">
    <a class='button is-danger is-light' href="/display_teams"> CRUD on TEAM Table </a>
</div>
<br>

<div align="center">
    <a class='button is-link is-light' href="/display_player"> CRUD on PLAYER Table </a>
</div>
<br>

<div align="center">
    <a class='button is-primary is-light' href="/season"> CRUD on Season Table </a>
</div>
<br>

<div align="center">
    <a class='button is-warning is-light' href="/season"> CRUD on MATCH Table </a>
</div>
<br>

<div align="center">
    <a class='button is-success is-light' href="/season"> CRUD on BALLS Table </a>
</div>

<br>
<div align="center">
    <a class='button is-success is-light' href="/bulkinsert"> BULK Insertion </a>
</div>



<br>

<br>
</body>
</html>